# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Joshua Kruck
#	email = joshua.kruck@gmail.com
[user]
	name = Josh Kruck
	email = joshua.kruck@gmail.com
[push]
	default = simple
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
[credential]
	helper = osxkeychain
